.projets {
    position: relative;
    transition: transform 0.5s ease-out;
    padding: 300px 90px 90px 90px;
    min-height: 100vh;
    @include gridLayout;

    @import "./Realisations/Realisations.scss";
}
